.root{
    -fx-background-image: url("/images/sfondo_tabellone.png");
    -fx-background-size: auto;
}

.imported{
    -fx-max-width: infinity;
    -fx-max-height: infinity;
}

#punti{
    -fx-max-width: infinity;
    -fx-max-height: infinity;
    -fx-text-fill: green;
    -fx-font-size: 40;
    -fx-text-align: center;
    -fx-background-color: transparent;
}

.debug{
    -fx-max-width: infinity;
    -fx-max-height: infinity;
    -fx-opacity: 0.5;
    -fx-background-color: red;
}

#settingsButton{
    lato: 20;
    -fx-background-image: url("/images/impostazioni.png");
    -fx-background-size: stretch;
    -fx-min-width: lato;
    -fx-min-height: lato;
    -fx-pref-width: lato;
    -fx-pref-height: lato;
    -fx-max-width: lato;
    -fx-max-height: lato;
}
