#mainPane{
    height: 150;
    -fx-pref-width: infinity;
    -fx-max-height: height;
    -fx-pref-height: height;
}

#settingsButton{
    -fx-max-height: 75;
    -fx-max-width: 75;
    -fx-background-image: url("/images/settings_button.png");
    -fx-background-size: stretch;
    -fx-border: none;
}