#input{
}

#messaggi{
    -fx-background-color: rgb(5,4,2,0.8);
}

.labels{
    -fx-text-fill: snow;
    -fx-background-color: transparent;
}

#mainPane{
    height: 800;
    width: 300;
    -fx-max-height: height;
    -fx-max-width: width;
}